$primary: #006491;
$secondary: #e31837;

.cardContainer {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 12px;
  &:hover {
    background-color: #d9d9d9;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  color: $primary;
  text-transform: uppercase;
  margin: 15px 0;
  @media (max-width: 480px) {
    font-size: 30px;
  }
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.cardDesc {
  text-align: center;
  color: #777;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}
